{include 'public/header.html'}
<h4>模型：新增<span class="y"><a href="{:url('index')}">列表</a> | <a href="{:url('add')}">添加</a></span></h4>
<form action="{:url('model/add')}" method="post">	
	<p>标题：<input type="text" name="title" value="" /> 不能为空，唯一</p>
	<p>分类：	{:build_radios('cid', $cates, 1)}</p>
	<p>内容：<textarea name="content"></textarea> 不能为空</p>
	<p>密码：<input type="text" name="pwd" value="" /> 不为空时，自动md5</p>
	<p>浏览：<input type="text" name="hits" value="" /> 禁止填充，无效</p>
	<p>其他：<input type="text" name="other" value="other" /> 不存在，无效</p>
	<p><input type="submit" value="添加" /></p>	
</form>	
{include 'public/footer.html'}