{include 'public/header.html'}
<h4>数据库：修改<span class="y"><a href="{:url('index')}">列表</a> | <a href="{:url('add')}">添加</a></span></h4>
<form action="{:url('edit')}" method="post">	
	<input type="hidden" name="id" value="{$vo.id}" />
	<p>标题：<input type="text" name="title" value="{$vo.title}" /> 不能为空，唯一</p>
	<p>分类：	{:build_select('cid', $cates, $vo['cid'])}</p>
	<p>内容：<textarea name="content">{$vo.content}</textarea> 不能为空</p>
	<p>密码：<input type="text" name="pwd" value="" /> 不修改留空，修改自动md5</p>
	<p>浏览：<input type="text" name="hits" value="{$vo.hits}" /> 禁止填充，无效</p>
	<p>其他：<input type="text" name="other" value="other" /> 不存在，无效</p>
	<p><input type="submit" value="修改" /></p>	
</form>	
{include 'public/footer.html'}