{include 'public/header.html'}
<h4>数据库：查询<span class="y"><a href="{:url('index')}">列表</a> | <a href="{:url('add')}">添加</a></span></h4>
<h4>ID-{$vo.id}：{$vo.title}</h4>
<div style="padding:15px 5px;">{$vo.content}</div>
<p>密码：{$vo.pwd}</p>
<p>分类： {$cates[$vo['cid']]} | 查看：{:get_hits($vo['id'], $vo['hits'], 'blog', 'hits')} 
| 创建：{$vo['ctime']} | 修改：{:date('m-d H:i:s', $vo['uptime'])}
| <a href="{:url('model/edit',['id'=>$vo['id']])}">修改</a> | <a href="{:url('del',['id'=>$vo['id']])}">删除</a>
</p>
{include 'public/footer.html'}