{include 'public/header.html'}
<h4>中间件测试：<a href="{:url('index')}">首页</a> | <a href="{:url('test')}">测试</a> | <a href="{:url('login')}">登录</a> (查看调试栏中的调试信息)</h4>
<h3>开始作用</h3>
<ol>
	<li>安装环境：安装PHP环境，用cmd进入 www目录</li>
	<li>安装项目：<code class="blue">composer create-project willphp/willphp blog --prefer-dist</code> (blog是自定义的项目名)</li>
	<li>进入项目：<code class="blue">cd blog</code> 重命名.env.example：<code class="blue">rename .env.example .env</code></li>
	<li>修改配置：打开<code class="blue">.env</code>文件修改数据库配置</li>
	<li>导入数据：使用phpmyadmin等工具导入测试表：<code class="blue">data/blog.sql</code></li>
	<li>访问地址：<code class="blue">http://localhost/blog/public</code></li>
</ol>

{include 'public/footer.html'}