{include 'public/header.html'}
<h4>数据库：分页查询<span class="y"><a href="{:url('index')}">列表</a> | <a href="{:url('add')}">添加</a></span></h4>
<ul class="cl">
	{foreach $list as $vo}
	<li>[{$cates[$vo['cid']]}] <a href="{:url('view',['id'=>$vo['id']])}">{$vo.title} ({$vo.hits}) </a> <span class="y"><a href="{:url('edit',['id'=>$vo['id']])}">修改</a> | <a href="{:url('del',['id'=>$vo['id']])}">删除</a> | {:date('Y-m-d H:i:s', $vo['ctime'])}</span></li>
	{empty $list->toArray()}
	<li>列表为空</li>					
	{/foreach}			
</ul>
{$list->links()}
{include 'public/footer.html'}